.cursor-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgba(110, 75, 40, 0.8); /* Color de hongo Cordyceps */
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(150, 100, 60, 0.8), 0 0 20px rgba(255, 200, 150, 0.5);
    pointer-events: none;
    transform: scale(1);
    animation: sporeEffect 0.5s ease-out forwards;
}

/* Animación para simular partículas de esporas */
@keyframes sporeEffect {
    0% { opacity: 1; transform: scale(1); }
    100% { opacity: 0; transform: scale(3); }
}


