{% extends 'base.html' %}
{% load widget_tweaks %}
{% block content %}
    <h1 class="text-2xl font-bold mb-6 text-white dark:text-white">Leave a Comment</h1>
    <form method="post" class="space-y-4 transition-all duration-700 ease-in-out animate-fade-in">{% csrf_token %}
        <div class="space-y-2 transition-all duration-700 ease-in-out">
            {% for field in form %}
                <div>
                    <label for="{{ field.id_for_label }}" class="block text-sm font-medium mb-1 text-white dark:text-white">{{ field.label }}</label>
                    {% if field.name == 'content' %}
                        {# SI el campo actual es el campo llamado 'content' #}
                        {{ field|attr:'class:bg-white dark:bg-gray-800 text-gray-900 dark:text-white px-4 py-2 rounded-lg w-full border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500'|attr:'id:comment-field' }}
                        {# Le aplicamos las clases existentes y le asignamos el ID 'comment-field' #}
                    {% else %}
                        {# Para los otros campos del formulario, aplicamos las clases normalmente #}
                        {{ field|add_class:"bg-white dark:bg-gray-800 text-gray-900 dark:text-white px-4 py-2 rounded-lg w-full border border-gray-300 dark:border-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500" }}
                    {% endif %}
                    {% if field.errors %}
                        <p class="text-red-500 text-sm">{{ field.errors|striptags }}</p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="px-6 py-2 bg-purple-500 hover:bg-purple-600 text-white dark:bg-purple-600 dark:hover:bg-purple-700 rounded transition-all duration-500 ease-in-out">Submit Comment</button>
    </form>

    {# BLOQUE DE SCRIPT PARA INICIALIZAR CKEDITOR #}
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            ClassicEditor
                .create( document.querySelector( '#comment-field' ) )
                .catch( error => {
                    console.error( error );
                } );
        });
    </script>
    {# FIN DEL BLOQUE DE SCRIPT PARA CKEDITOR #}
{% endblock %}